<div
  class="relative flex flex-col flex-auto min-w-0 p-4 overflow-hidden break-words border-0 bg-slate-850 shadow-dark-xl rounded-2xl bg-clip-border">
  <div class="flex flex-wrap -mx-3 h-16 items-center justify-around">
    <div class="flex-none w-auto max-w-full px-3">
      <h1 class="text-lg font-bold text-white">Add Users</h1>
    </div>
    <div class="w-full max-w-full px-3 mx-auto mt-4 sm:my-auto sm:mr-0 md:w-1/2 lg:w-4/12">
      <div class="relative flex flex-col p-4 bg-gray-800 rounded-lg shadow-md">
        <ul class="flex flex-wrap p-1 list-none bg-gray-700 rounded-xl" role="tablist">
          <!-- Itération sur les items du menu -->
          <li [@moveActiveBar]="" *ngFor="let menuItem of menuItems; let i = index" 
              [class.active]="activeMenu() === i" 
              class="relative flex-auto text-center active"
              (click)="setActiveMenu(i, menuItem.filter)">
            <a class="flex items-center justify-center w-full px-4 py-2 transition-all ease-in-out rounded-lg cursor-pointer"
               [ngClass]="{ 'bg-white text-blue-600': activeMenu() === i, 'text-gray-400': activeMenu() !== i }">
              <span class="material-icons">{{ menuItem.icon }}</span>
              <span class="ml-2 text-sm">{{ menuItem.label }}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>