<div class="relative flex flex-col flex-auto min-w-0 p-4 overflow-hidden break-words border-0 bg-slate-850 shadow-dark-xl rounded-2xl bg-clip-border">
  <div class="flex flex-wrap -mx-3 h-16 items-center justify-around">
    <div class="flex-none w-auto max-w-full px-3">
      <h1 class="text">Add Users</h1>
    </div>
    <div class="w-full max-w-full px-3 mx-auto mt-4 sm:my-auto sm:mr-0 md:w-1/2 lg:w-4/12">
      <div class="relative right-0">
        <ul class="relative flex flex-wrap p-1 list-none bg-gray-50 rounded-xl" nav-pills="" role="tablist">
          <li class="z-30 flex-auto text-center">
            <a class="z-30 flex items-center justify-center w-full px-0 py-1 mb-0 transition-all ease-in-out border-0 rounded-lg bg-inherit text-slate-700" nav-link="" active="" href="javascript:;" role="tab" aria-selected="true">
              <i class="ni ni-app"></i>
              <span class="ml-2">App</span>
            </a>
          </li>
          <li class="z-30 flex-auto text-center">
            <a class="z-30 flex items-center justify-center w-full px-0 py-1 mb-0 transition-all ease-in-out border-0 rounded-lg bg-inherit text-slate-700" nav-link="" href="javascript:;" role="tab" aria-selected="false">
              <i class="ni ni-email-83"></i>
              <span class="ml-2">Messages</span>
            </a>
          </li>
          <li class="z-30 flex-auto text-center">
            <a class="z-30 flex items-center justify-center w-full px-0 py-1 mb-0 transition-colors ease-in-out border-0 rounded-lg bg-inherit text-slate-700" nav-link="" href="javascript:;" role="tab" aria-selected="false">
              <i class="ni ni-settings-gear-65"></i>
              <span class="ml-2">Settings</span>
            </a>
          </li>
          <div class="z-10 absolute text-slate-700 rounded-lg bg-inherit flex-auto text-center bg-none border-0 block" moving-tab="" nav-link="" style="box-shadow: rgb(221, 221, 221) 0px 1px 5px 1px; padding: 0px; width: 106px; transform: translate3d(0px, 0px, 0px); transition: 0.5s;">
            <a class="z-30 flex items-center justify-center w-full px-0 py-1 mb-0 transition-all ease-in-out border-0 rounded-lg bg-white text-white" nav-link="" active="" href="javascript:;" role="tab" aria-selected="true" style="animation: 0.2s ease 0s 1 normal none running none;">-</a>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
