<main class="mt-0 transition-all duration-200 ease-in-out min-h-screen">
  <div class="flex flex-wrap">
    <div class="w-full max-w-full px-3 mx-auto md:flex-0 shrink-0">
      <div
        class="relative z-0 flex flex-col min-w-0 break-words bg-slate-850/80 border-0 animate-shadow-pulse rounded-2xl">
        <div class="pt-6 mb-0 text-center bg-slate-850/80 font-bold text-lg border-b-0 rounded-t-2xl">
          <h5 class="title animate-pulse">Ajouter un abonnement</h5>
        </div>
        <div class="flex-auto p-6">
          <form [formGroup]="subscriptionForm" (ngSubmit)="onSubmit()" role="form text-left">
            <section class="grid grid-cols-2 gap-4">
              <!-- mettre le messaque d erreur plus elegon -->
              <div class="col-span-1">
                <div class="mb-4">
                  <input type="text" formControlName="fullname" class="input-theme" placeholder="Nom complet" />
                  <div *ngIf="subscriptionForm.get('fullname')?.invalid && subscriptionForm.get('fullname')?.touched"
                    class="error">
                    <small *ngIf="subscriptionForm.get('fullname')?.errors?.['required']">Nom complet requis.</small>
                    <small *ngIf="subscriptionForm.get('fullname')?.errors?.['minlength']">Le nom complet doit contenir
                      au moins 5 caractères.</small>
                    <small *ngIf="subscriptionForm.get('fullname')?.errors?.['maxlength']">Le nom complet doit contenir
                      au plus 100 caractères.</small>
                  </div>
                </div>
                <div class="mb-4">
                  <input type="email" formControlName="email" class="input-theme" placeholder="Email" />
                  <div *ngIf="subscriptionForm.get('email')?.invalid && subscriptionForm.get('email')?.touched"
                    class="error">
                    <small *ngIf="subscriptionForm.get('email')?.errors?.['required']">Email requis.</small>
                    <small *ngIf="subscriptionForm.get('email')?.errors?.['email']">Email invalide.</small>
                  </div>
                </div>
                <div class="mb-4">
                  <input type="tel" formControlName="tel" class="input-theme" placeholder="Téléphone" />
                  <div *ngIf="subscriptionForm.get('tel')?.invalid && subscriptionForm.get('tel')?.touched"
                    class="error">
                    <small *ngIf="subscriptionForm.get('tel')?.errors?.['required']">Téléphone requis.</small>
                    <small *ngIf="subscriptionForm.get('tel')?.errors?.['pattern']">Doit contenir 10 chiffres.</small>
                  </div>
                </div>
                <div class="mb-4">
                  <input type="password" formControlName="password" class="input-theme" placeholder="Mot de passe" />
                  <div *ngIf="subscriptionForm.get('password')?.invalid && subscriptionForm.get('password')?.touched"
                    class="error">
                    <small *ngIf="subscriptionForm.get('password')?.errors?.['required']">Mot de passe requis.</small>
                    <small *ngIf="subscriptionForm.get('password')?.errors?.['minlength']">Minimum 4 caractères.</small>
                  </div>
                </div>
              </div>

              <!-- Colonne droite -->
              <div class="col-span-1">
                <div class="mb-4">
                  <textarea formControlName="adresse" class="input-theme min-h-[100px]"
                    placeholder="Adresse"></textarea>
                  <div *ngIf="subscriptionForm.get('adresse')?.invalid && subscriptionForm.get('adresse')?.touched"
                    class="error">
                    <small *ngIf="subscriptionForm.get('adresse')?.errors?.['required']">Adresse requise.</small>
                    <small *ngIf="subscriptionForm.get('adresse')?.errors?.['minlength']">L'adresse doit contenir au
                      moins 5 caractères.</small>
                    <small *ngIf="subscriptionForm.get('adresse')?.errors?.['maxlength']">L'adresse doit contenir au
                      plus 100 caractères.</small>
                  </div>
                </div>
                <div class="mb-4">
                  <select formControlName="subscriptionType" class="input-theme">
                    <option value="Basique">Basique (250 chaînes)</option>
                    <option value="Classique">Classique (500 chaînes)</option>
                  </select>
                </div>
                <div class="mb-4">
                  <input type="number" formControlName="channelCount" class="input-theme bg-gray-700" readonly />
                  <div class="text-gray-400 text-sm mt-1">Nombre de chaînes défini automatiquement.</div>
                </div>
              </div>
            </section>
            <div class="text-center flex justify-end gap-5">
              <button type="button" class="cancel-btn" (click)="redirectToList()">
                Cancel
              </button>
              <button type="submit" [disabled]="subscriptionForm.invalid"
                class="w-25"
                [ngClass]="{'btn-desactived-bg': !subscriptionForm.valid, 'btn-gradient-bg': subscriptionForm.valid}">
                Ajouter
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>