.th {
    @apply px-6 py-3 border-b-2 border-gray-600 text-sm font-medium;
}

.td {
    @apply px-6 py-4 text-center;
}

.tooltip-container {
    @apply absolute right-0 z-10 transform origin-top bg-slate-800/25 backdrop-blur-lg  shadow-dark-xl text-white rounded-7 mt-2 py-2 duration-150 ease-out;
}
.liste-action{
    @apply w-[155px];
}
.tooltip {
    @apply hover:scale-110 duration-150 flex text-nowrap items-center px-4 py-2 text-sm hover:font-bold;
}

.expanded-details{
    @apply w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4 p-2 flex flex-col gap-y-2;
}
.expanded-details>p{
    @apply text-gray-400/80;
}

// Assurer que le tableau prend toute la largeur
table {
    width: 100%;
    border-collapse: collapse;
}

// Styles pour ngx-pagination
// Styles pour ngx-pagination
::ng-deep .ngx-pagination {
    @apply flex justify-center items-center gap-3 text-gray-600 my-4 rounded-full;

    .current {
        @apply rounded-full px-4 py-2 font-bold shadow-md text-white;
        background-color: inherit;
    }

    .current.ng-star-inserted {
        @apply text-white;
    }

    a,
    .pagination-previous,
    .pagination-next {
        @apply bg-slate-850/85 text-gray-600 hover:text-white transition-all duration-75 ease-in-out px-3 py-1 rounded-full;

        &:hover {
            @apply hover:bg-transparent;
        }
    }

    .ng-star-inserted {
        @apply rounded-full text-gray-600;
    }

    .ng-star-inserted.current {
        @apply bg-blue-DEFAULT-800;
    }

    .pagination-previous,
    .pagination-next {
        @apply font-semibold;

        &.disabled {
            @apply opacity-50 cursor-not-allowed;
        }
    }
}

.striped-progress {
    background-size: 20px 20px;
    animation: moveStripes 1s linear infinite;
}

@keyframes moveStripes {
    0% {
        background-position: 40px 0;
    }

    100% {
        background-position: 0 0;
    }
}