<section class="flex flex-wrap w-full justify-center shadow-dark-xl rounded-2xl">
  <div class="overflow-x-auto w-full rounded-2xl">
    <div
      class="align-middle inline-block min-w-full rounded-t-2xl bg-slate-850 px-6 pt-3 h-[65vh] py-5 overflow-auto custom-scrolbar relative">
      <table class="min-w-full border-collapse text-white">
        <thead>
          <tr class="text-center">
            <th class="th">ID</th>
            <th class="th hidden sm:table-cell">Nom complet</th>
            <th class="th hidden sm:table-cell">Email</th>
            <th class="th">Progression</th>
            <th class="th">Status</th>
            <th class="th">Actions</th>
          </tr>
        </thead>
        <tbody>
          @if (store.isLoading()) {
            @defer (on timer(500ms)) {
            @for (skeleton of [1, 2, 3, 4, 5]; track skeleton) {
            <tr class="animate-pulse">
              <td class="td">
                <div class="h-4 bg-gray-300 rounded w-1/2"></div>
              </td>
              <td class="td hidden sm:table-cell">
                <div class="h-4 bg-gray-300 rounded w-3/4"></div>
              </td>
              <td class="td hidden sm:table-cell">
                <div class="h-4 bg-gray-300 rounded w-1/3"></div>
              </td>
              <td class="td">
                <div class="h-2 bg-gray-300 rounded w-full mb-2"></div>
                <div class="h-4 bg-gray-300 rounded w-1/4"></div>
              </td>
              <td class="td">
                <div class="h-4 bg-gray-300 rounded w-1/2 mb-1"></div>
                <div class="h-3 bg-gray-300 rounded w-1/3"></div>
              </td>
              <td class="td">
                <div class="flex justify-center space-x-2">
                  <div class="h-6 w-6 bg-gray-300 rounded-full"></div>
                  <div class="h-6 w-6 bg-gray-300 rounded-full"></div>
                </div>
              </td>
            </tr>
            }
            } @placeholder {
          <tr>
            <td colspan="6" class="text-center py-4">
              <div
                class="inline-block h-8 w-8 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite]"
                role="status">
                <span
                  class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Loading...</span>
              </div>
            </td>
          </tr>
}          } @else if (store.filteredSubscriptions()(filter.menu, filter.search).length === 0) {
          <tr>
            <td colspan="6" class="h-[50vh] text-center align-middle text-gray-400">
              <div class="flex flex-col items-center justify-center h-full">
                <span class="material-icons text-5xl mb-2 animate-bounce">search_off</span>
                <p class="text-xl">Aucun abonné trouvé</p>
              </div>
            </td>
          </tr>
          } @else {
          @for (subscription of store.filteredSubscriptions()(filter.menu, filter.search); track subscription.id) {
          <tr [ngClass]="{'bg-slate-850 border-b-2 border-gray-600 hover:bg-gray-700/10': store.expandedId() !== subscription.id, 'bg-slate-700': store.expandedId() === subscription.id}">
            <td class="td">{{ subscription.id }}</td>
            <td class="td hidden sm:table-cell">{{ subscription.fullname }}</td>
            <td class="td hidden sm:table-cell">{{ subscription.email }}</td>
            <td class="td">
              <div class="relative flex justify-center w-full h-2 bg-gray-700 rounded-full">
                <div class="absolute top-0 left-0 h-2 rounded-full transition-all duration-500"
                  [ngClass]="store.getProgressClasses()(subscription.progress ?? 0)"
                  [style.width.%]="subscription.progress ?? 0">
                </div>
                <span class="block text-sm mt-2 text-gray-400">{{ subscription.progress ?? 0 }}%</span>
              </div>
            </td>
            <td class="td">
              <div class="flex flex-col items-center">
                <span
                  [ngClass]="{'text-blue-400': subscription.subscriptionType === 'Basique', 'text-green-400': subscription.subscriptionType === 'Classique'}">{{
                  subscription.subscriptionType }}</span>
                <span class="text-xs text-gray-400">{{ getRemainingDays(subscription.id) }} jours restants</span>
              </div>
            </td>
            <td class="px-6 py-4 text-center">
              <div class="relative inline-block ml-2">
                <button class="text-gray-100 hover:text-gray-500 relative top-3"
                  (click)="store.toggleMenuExpand(subscription.id)">
                  <span class="material-icons transition-all duration-300 transform"
                    [ngClass]="{ 'rotate-180': store.expandedMenuId() === subscription.id }">more_vert</span>
                </button>
                @if (store.expandedMenuId() === subscription.id) {
                <div class="tooltip-container tooltip-container transition-all scale-y-100" [@expandCollapse]>
                  <ul>
                    <li><button class="tooltip hover:text text-red-600" (click)="openPopup(subscription.id)"><span
                          class="material-icons mr-2">delete</span> Supprimer</button></li>
                    <li><button class="tooltip hover:text text-blue-600" (click)="editSubscriber(subscription.id)"><span
                          class="material-icons mr-2">edit</span> Modifier</button></li>
                  </ul>
                </div>
                }
              </div>
              <button class="text-gray-100 hover:text-gray-500 text-8 float-right relative top-2"
                (click)="store.toggleExpand(subscription.id)">
                <span class="material-icons transition-all duration-300 transform text-8"
                  [ngClass]="{ 'rotate-180': store.expandedId() === subscription.id }">
                  {{ store.expandedId() === subscription.id ? 'expand_less' : 'expand_more' }}
                </span>
              </button>
            </td>
          </tr>
          @if (store.expandedId() === subscription.id) {
          <tr [@expandCollapse]>
            <td colspan="6" class="px-6 py-4 bg-slate-700/10 border-b border-gray-600">
              <div class="flex flex-wrap text-sm text-white">
                <div class="w-1/3 p-2">
                  <p><strong>Adresse :</strong> {{ subscription.adresse }}</p>
                  <p><strong>Téléphone :</strong> {{ subscription.tel }}</p>
                  <p><strong>Nombre de chaînes :</strong> {{ subscription.channelCount }}</p>
                </div>
                <div class="w-1/3 p-2">
                  <p><strong>Mot de passe :</strong> {{ subscription.password | hidePassword }}</p>
                  <p><strong>Date d'inscription :</strong> {{ subscription.subscriptionStartDate | date:'dd/MM/yyyy à
                    HH:mm' }}</p>
                  <p><strong>Date fin :</strong> {{ subscription.subscriptionEndDate | date:'dd/MM/yyyy à HH:mm' }}</p>
                </div>
                <div class="w-1/3 p-2">
                  <p><strong>Actif :</strong> {{ subscription.active }}</p>
                </div>
              </div>
            </td>
          </tr>
          }
          }
          }
        </tbody>
      </table>
    </div>
    <div
      class="sticky left-0 bottom-0 border-t border-gray-600 z-50 w-full flex justify-between items-center text-white bg-slate-850 py-2 px-4">
      @if (filter.search) {
      <div class="text-white mb-4">
        Find subscription number : {{ (store.filteredSubscriptions()(filter.menu, filter.search) || []).length }}
      </div>
      } @else {
      <span class="w-2/12"></span>
      }
      <p>Total subscribers <span class="text text-lg font-bold">{{ store.totalSubscriptions() }}</span></p>
    </div>
  </div>
</section>

<app-popups *ngIf="showPopup()" (confirm)="confirmDelete()" (cancel)="closePopup()"></app-popups>