<section class="flex flex-wrap w-full justify-center shadow-dark-xl rounded-2xl">
  <div class="overflow-x-auto w-full rounded-2xl">
    <div class="align-middle inline-block min-w-full rounded-t-2xl bg-slate-850 px-6 pt-3 h-[65vh] py-5 overflow-auto custom-scrolbar relative">
      <table class="min-w-full border-collapse text-white">
        <thead class="sticky top-0 z-50 bg-black/25 backdrop-blur-md backdrop-saturate-200 border-b-2 border-gray-200">
          <tr class="text-center">
            <th class="th">ID</th>
            <th class="th hidden sm:table-cell">Nom complet</th>
            <th class="th hidden sm:table-cell">Email</th>
            <th class="th">Progression</th>
            <th class="th">Status</th>
            <th class="th">Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (abonne of store.filteredSubscriptions()(filter().menu, filter().search) | paginate: { itemsPerPage: 10, currentPage: p }; track abonne.id) {
          <tr [ngClass]="{
                'bg-slate-850 border-b-2 border-gray-600 hover:bg-gray-700/10': store.expandedId() !== abonne.id,
                'bg-slate-700': store.expandedId() === abonne.id
              }">
            <td class="td">{{ abonne.id }}</td>
            <td class="td hidden sm:table-cell">{{ abonne.fullname }}</td>
            <td class="td hidden sm:table-cell">{{ abonne.email }}</td>
            <td class="td">
              <div class="relative w-full h-2 bg-gray-700 rounded-full">
                <div class="absolute top-0 left-0 h-2 rounded-full transition-all duration-500"
                  [class]="store.getProgressClasses()(abonne.progress ?? 0)" [style.width.%]="abonne.progress ?? 0">
                </div>
              </div>
              <span class="block text-sm text-gray-400 mt-1">
                {{ abonne.progress ?? 0 }}%
              </span>
            </td>
            <td class="td">
              <div class="flex flex-col items-center">
                <span [ngClass]="{
                      'text-blue-400': abonne.subscriptionType === 'Basique',
                      'text-green-400': abonne.subscriptionType === 'Classique',
                    }">{{ abonne.subscriptionType }}</span>
                <span class="text-xs text-gray-400">{{ getRemainingDays(abonne.id) }} jours restants</span>
              </div>
            </td>
            <td class="px-6 py-4 text-center">
              <div class="relative inline-block ml-2">
                <button class="text-gray-100 hover:text-gray-500 relative top-3" (click)="store.toggleMenu(abonne.id)">
                  <span class="material-icons transition-all duration-300 transform"
                    [ngClass]="{ 'rotate-180': store.expandedMenuId() === abonne.id }">
                    more_vert
                  </span>
                </button>
                @if (store.expandedMenuId() === abonne.id) {
                <div class="tooltip-container scale-y-0 transition-all"
                  [ngClass]="{ 'scale-y-100': store.expandedMenuId() === abonne.id }" [@expandCollapse]>
                  <ul>
                    <li>
                      <button class="tooltip hover:text text-red-600" (click)="openPopup(abonne.id)">
                        <span class="material-icons mr-2">delete</span> Supprimer
                      </button>
                    </li>
                    <li>
                      <button class="tooltip hover:text text-blue-600" (click)="editSubscriber(abonne.id)">
                        <span class="material-icons mr-2">edit</span> Modifier
                      </button>
                    </li>
                  </ul>
                </div>
                }
              </div>
              <button class="text-gray-100 hover:text-gray-500 text-8 float-right relative top-2"
                (click)="store.toggleDetails(abonne.id)">
                <span class="material-icons transition-all duration-300 transform text-8"
                  [ngClass]="{ 'rotate-180': store.expandedId() === abonne.id }">
                  {{ store.expandedId() === abonne.id ? 'expand_less' : 'expand_more' }}
                </span>
              </button>
            </td>
          </tr>
          @if (store.expandedId() === abonne.id) {
          <tr [@expandCollapse]>
            <td colspan="6" class="px-6 py-4 bg-slate-700/10 border-b border-gray-600">
              <div class="flex flex-wrap text-sm text-white">
                <div class="w-1/3 p-2">
                  <p><strong>Adresse :</strong> {{ abonne.adresse }}</p>
                  <p><strong>Téléphone :</strong> {{ abonne.tel }}</p>
                  <p><strong>Nombre de chaînes :</strong> {{ abonne.channelCount }}</p>
                </div>
                <div class="w-1/3 p-2">
                  <p><strong>Mot de passe :</strong> {{ abonne.password }}</p>
                  <p><strong>Date d'inscription :</strong> {{ abonne.subscriptionStartDate | date:'dd/MM/yyyy à HH:mm' }}</p>
                  <p><strong>Date fin :</strong> {{ abonne.subscriptionEndDate | date:'dd/MM/yyyy à HH:mm' }}</p>
                </div>
                <div class="w-1/3 p-2">
                  <p><strong>Actif :</strong> {{ abonne.active }}</p>
                </div>
              </div>
            </td>
          </tr>
          }
          } @empty {
          <tr class="h-[50vh]">
            <td colspan="6" class="text-center align-middle text-gray-400">
              <div class="flex flex-col items-center justify-center h-full">
                <span class="material-icons text-5xl mb-2 animate-bounce">search_off</span>
                <p class="text-xl">Aucun abonné trouvé</p>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="sticky left-0 bottom-0 border-t border-gray-600 z-50 w-full flex justify-between items-center text-white bg-slate-850 py-2 px-4">
      @if (filter().search) {
      <div class="text-white mb-4">
        Find subscription number : {{ (store.filteredSubscriptions()(filter().menu, filter().search) | paginate: {
        itemsPerPage: 10, currentPage: p }).length }}
      </div>
      }@else {
      <span class="w-2/12"></span>
      }
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
      <p>Total subscribers <span class="text text-lg font-bold">{{ store.totalSubscriptions() }}</span></p>
    </div>
  </div>
</section>

@if (showPopup()) {
<app-popups (confirm)="confirmDelete()" (cancel)="closePopup()" />
}
