.th {
    @apply px-6 py-3 border-b-2 border-gray-600 text-sm font-medium;
}

.td {
    @apply px-6 py-4 text-center;
}

.tooltip-container {
    @apply absolute right-0 z-10 transform origin-top bg-slate-800/90 shadow-dark-xl text-white rounded-7 mt-2 py-2 duration-300 ease-out;
}

.tooltip {
    @apply hover:scale-110 hover:duration-300 flex items-center px-4 py-2 text-sm;
}



// Assurer que le tableau prend toute la largeur
table {
    width: 100%;
    border-collapse: collapse;
}

// Styles pour ngx-pagination
// Styles pour ngx-pagination
::ng-deep .ngx-pagination {
    @apply flex justify-center items-center gap-3 text-gray-600 my-4 rounded-full;

    .current {
        @apply rounded-full px-4 py-2 font-bold shadow-md text-white;
        background-color: inherit;
    }
    .current.ng-star-inserted {
        @apply text-white;
    }

    a,
    .pagination-previous,
    .pagination-next {
        @apply bg-slate-850/85 text-gray-600 hover:text-white transition-all duration-75 ease-in-out px-3 py-1 rounded-full;

        &:hover {
            @apply hover:bg-transparent;
        }
    }
    .ng-star-inserted {
        @apply rounded-full text-gray-600;
    }
    .ng-star-inserted.current {
        @apply bg-blue-DEFAULT-800;
    }

    .pagination-previous,
    .pagination-next {
        @apply font-semibold;

        &.disabled {
            @apply opacity-50 cursor-not-allowed;
        }
    }
}