<div class="flex w-full justify-end max-h-full relative overflow-hidden">
  <!-- Sidebar gauche -->
  <app-side-bar
    [class.hidden]="isSmallScreen && !sideLeftBarState()"
    [class.w-full]="sideLeftBarState()"
    [class.-translate-x-0]="sideLeftBarState()"
    [class.-translate-x-full]="!sideLeftBarState()"
    [class.shadow-lg]="sideLeftBarState()"
    class="flex transition-all duration-500 ease-[cubic-bezier(0.4, 0.0, 0.2, 1)] fixed left-0 top-0 h-full bg-slate-850/10"
  ></app-side-bar>

  <!-- Section principale -->
  <section
    [class.w-[82%]]="sideLeftBarState()"
    [class.w-[100%]]="!sideLeftBarState()"
    class="transition-all duration-500 ease-[cubic-bezier(0.4, 0.0, 0.5, 1)] flex flex-col"
  >
    <!-- Header -->
    <app-header class="header-menu"></app-header>

    <!-- Contenu principal -->
    <main class="flex-1 p-4">
      <router-outlet></router-outlet>
    </main>
  </section>

  <!-- Sidebar droit -->
  <!-- <app-side-bar-right
    class="transition-all duration-500 ease-[cubic-bezier(0.4, 0.0, 0.5, 1)] hidden lg:block w-[18%] shadow-lg fixed right-0 top-0 h-full"
  ></app-side-bar-right> -->
  
</div>
