<div class="flex w-full h-full relative overflow-hidden bg-transparent">
  <app-side-bar
    class="h-screen fixed top-0 left-0 py-5 pl-5 z-10"  [@slideInOut]="sideLeftBarState() ? 'in' : 'out'"
  ></app-side-bar>

  <section
    class="flex flex-col w-full h-full min-h-screen transition-margin" [ngStyle]="{ 'margin-left': sideLeftBarState() ? '270px' : '0' }"
  >
    <app-header class="header-menu"></app-header>
    <main class="flex-1 p-4 mt-20">
      <router-outlet></router-outlet>
    </main>
  </section>
</div>