<div
  class="grid w-full h-full relative overflow-hidden bg-transparent transition-[grid-template-columns] duration-500 ease-[cubic-bezier(0.4, 0.0, 0.2, 1)]"
  [class.grid-cols-[250px_1fr]]="sideLeftBarState()"
  [class.grid-cols-[0px_1fr]]="!sideLeftBarState()"
>
  <!-- Sidebar gauche -->
  <app-side-bar
    class="transition-transform duration-500 ease-[cubic-bezier(0.4, 0.0, 0.2, 1)]  min-h-screen py-5 pl-5"
    [class.translate-x-0]="sideLeftBarState()"
    [class.-translate-x-full.hidden]="!sideLeftBarState() && isSmallScreen"
    ></app-side-bar>
    
  <!-- Section principale -->
  <div>
    <section class="flex flex-col w-full">
      <app-header class="header-menu"></app-header>

      <main class="flex-1 p-4">
        <router-outlet></router-outlet>
      </main>
    </section>
  </div>
</div>