<!-- Sidebar toggle button -->
<nav class="flex flex-wrap items-center gap-3 justify-between text-white">
  <button (click)="toggleSidebar()" class="text-white flex items-center group">
    <!-- Material Design Hamburger Icon -->
    <span class="material-icons text-3xl transition-transform duration-100 ease-in-out group-hover:text group-hover:scale-90 w-10 group-hover:transform-cpu">
      menu
    </span>
  </button>
  @let title = "NEST FLOW";
  <!-- creer une animation pour le couleur du titre -->
  <span class="font-bold text-3xl text-uppercase text">{{ title }}</span>
</nav>
