<div class="flex gap-2">
    <input
      *ngFor="let pin of pinValues(); let i = index"
      type="text"
      class="w-10 h-10 text-center border border-gray-300 rounded-md text-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-300"
      maxlength="1"
      [value]="pin"
      (input)="updatePin(i, $event)"
      (keyup.backspace)="focusPrevious(i, $event.target)"
      (input)="focusNext(i, $event.target)"
    />
  </div>
  