<div class="flex flex-wrap mt-6 -mx-3">
    <div class="w-full max-w-full px-3 mt-0 lg:flex-none">
        <div
            class="border-black/12.5 bg-slate-850 shadow-dark-xl relative z-20 flex min-w-0 flex-col break-words rounded-2xl border-0 border-solid bg-clip-border">
            <form  (ngSubmit)="onSubmit()" class="space-y-4">
                <div>
                    <label for="fullname">Nom complet</label>
                    <input id="fullname" type="text" formControlName="fullname" class="input-theme" placeholder="Nom complet" />
                    <div *ngIf="editForm.get('fullname')?.invalid && editForm.get('fullname')?.touched"
                        class="text-red-500 text-sm">
                        Nom complet requis.
                    </div>
                </div>
            
                <div>
                    <label for="email">E-mail</label>
                    <input id="email" type="email" formControlName="email" class="input-theme" placeholder="Adresse e-mail" />
                    <div *ngIf="editForm.get('email')?.invalid && editForm.get('email')?.touched" class="text-red-500 text-sm">
                        E-mail valide requis.
                    </div>
                </div>
            
                <div>
                    <label for="subscriptionType">Type de souscription</label>
                    <select formControlName="subscriptionType" class="input-theme" (change)="onSubscriptionTypeChange()">
                        <option value="Basique">Basique (250 chaînes)</option>
                        <option value="Classique">Classique (500 chaînes)</option>
                    </select>
                </div>
            
                <div>
                    <label for="subscriptionStartDate">Date de début</label>
                    <input id="subscriptionStartDate" type="date" formControlName="subscriptionStartDate" class="input-theme" />
                </div>
            
                <div>
                    <label for="subscriptionEndDate">Date de fin</label>
                    <input id="subscriptionEndDate" type="date" formControlName="subscriptionEndDate" class="input-theme" />
                </div>
            
                <div>
                    <label for="channelCount">Nombre de chaînes</label>
                    <input id="channelCount" type="number" formControlName="channelCount" class="input-theme" readonly />
                </div>
            
                <button type="submit" [disabled]="editForm.invalid"
                    class="bg-gradient-to-tl from-blue-500 to-violet-500 text-white px-8 py-2 rounded-lg">
                    Modifier
                </button>
                <div *ngIf="!editForm.valid" class="text-sm text-red-500 mt-2">
                    Veuillez corriger les erreurs avant de soumettre.
                </div>
            </form>

        </div>
    </div>
</div>