<main class="mt-0 flex justify-center items-center min-h-screen">
  <section class="container">
    <div class="flex flex-wrap justify-center">
      <div class="w-full max-w-full px-3 mx-auto md:flex-0 shrink-0 md:w-7/12 lg:w-5/12 xl:w-4/12">
        <div
          class="relative z-0 flex flex-col min-w-0 break-words bg-slate-850/80 border-0 animate-shadow-pulse rounded-2xl bg-clip-border">
          <div class="pt-6 mb-0 text-center bg-slate-850/80 font-bold text-lg border-b-0 rounded-t-2xl">
            <h5 class="title">Sign Up</h5>
          </div>
          <div class="flex-auto p-6">
            <form role="form text-left">
              <div class="mb-4">
                <input type="email" class="input-theme" placeholder="Email" />
              </div>
              <div class="mb-4">
                <input type="password" class="input-theme" placeholder="Password" />
              </div>
              <div class="mb-4">
                <input type="password" class="input-theme" placeholder="Confirm Password" />
              </div>

              <div class="mb-4 flex items-center text-gray-400">
                <input type="checkbox" class="mr-2" required>
                I agree to the <span href="#" class="font-bold text ml-2">Terms and Conditions</span>
              </div>
              <div class="text-center">
                <button type="button" class="btn-gradient-bg focus:outiline-none right-blue-400">Sign
                  up</button>
              </div>
              <p class="mt-4 mb-0 leading-normal text-sm flex justify-center text-gray-400">Already have an account? <a
                  routerLink="/login" class="text ml-2">Sign in</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>