@use '@angular/material' as mat;

@include mat.all-component-typography(); // Typographie par défaut

// Couleurs principales basées sur les variables CSS
$primary: mat.define-palette((
  50: var(--mat-sys-primary-fixed-dim),
  100: var(--mat-sys-primary-fixed),
  200: var(--mat-sys-primary),
  300: var(--mat-sys-primary-container),
  400: var(--mat-sys-outline),
  500: var(--mat-sys-primary),
  contrast: (
    50: var(--mat-sys-on-primary),
    100: var(--mat-sys-on-primary-container)
  ),
));

// Palette secondaire
$secondary: mat.define-palette((
  50: var(--mat-sys-secondary-container),
  100: var(--mat-sys-secondary),
  200: var(--mat-sys-secondary-fixed),
  contrast: (
    50: var(--mat-sys-on-secondary),
    100: var(--mat-sys-on-secondary-fixed)
  ),
));

// Palette d'erreurs
$error: mat.define-palette((
  50: var(--mat-sys-error-container),
  100: var(--mat-sys-error),
  contrast: (
    50: var(--mat-sys-on-error-container),
    100: var(--mat-sys-on-error)
  ),
));

// Définir le thème complet
$custom-theme: mat.define-light-theme((
  color: (
    primary: $primary,
    secondary: $secondary,
    error: $error,
    background: var(--mat-sys-background),
    surface: var(--mat-sys-surface),
    on-surface: var(--mat-sys-on-surface),
    on-background: var(--mat-sys-on-background),
  )
));

// Appliquer le thème
@include mat.all-component-themes($custom-theme);
