// Main style
@import "../node_modules/material-icons/iconfont/material-icons.css";
@import "../node_modules/ngx-toastr/toastr-old.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'shantellasans';
  src: url('../public/fonts/ShantellSans-Regular.ttf');
  font-weight: normal;
}

body {
  font-family: shantellasans;
}

$bg-gradient: linear-gradient(to right, #a855f7, #ec4899);

@layer components {
  .material-icons-outlined {
    font-family: "Material Icons Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga";
  }

  .material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga";
  }

  .menu-icon {
    @apply w-8 h-8 transition duration-300;
  }

  .menu-icon-outline {
    @apply material-icons-outlined flex items-center;
  }

  .menu-icon-solid {
    @apply material-icons text flex items-center;
  }

  .hover-lists {
    @apply px-3 py-2 hover:bg-slate-700/13 hover:shadow-blur cursor-pointer rounded-24;
  }

  .active-lists {
    @apply bg-slate-400/10 shadow-dark-xl rounded-24;
  }
  .hover-dropdown-lists {
    @apply px-4 py-2 hover:bg-slate-700/13 hover:shadow cursor-pointer rounded-7;
  }

}

@layer components {
  .btn-gradient-bg {
    @apply bg-gradient-to-r from-[#a855f7] to-[#ec4899] inline-block w-full px-5 py-2.5 mt-6 mb-2 font-bold text-center text-white align-middle transition-all bg-transparent border-0 rounded-3xl cursor-pointer active:opacity-85 hover:-translate-y-px leading-normal text-sm ease-in shadow-md hover:border-slate-700 hover:bg-slate-700 hover:text-white focus:ring-2 ring-offset-2;
  }
  .btn-desactived-bg {
    @apply cursor-help bg-gray-700/25 inline-block w-full px-5 py-2.5 mt-6 mb-2 font-bold text-center text-white align-middle transition-all border-0 rounded-3xl leading-normal text-sm ease-in shadow-md focus:ring-2 ring-offset-2;
  }

  .cancel-btn {
    @apply w-25 px-5 py-2.5 mt-6 mb-2 text-sm font-medium text-gray-300 bg-transparent border border-gray-300 rounded-3xl hover:bg-gray-700/65 hover:text-[#a855f7] focus:outline-none focus:ring-2 focus:ring-gray-400 transition-all duration-100 ease-in-out;
  }

  .text {
    @apply bg-gradient-to-r from-[#a855f7] to-[#ec4899] text-transparent bg-clip-text;
  }

  .title {
    @apply text font-bold text-2xl
  }

  .btn-gradient-bg:hover {
    @apply scale-105;
  }

  .btn-gradient:hover {
    @apply text-white scale-105;
  }

  .text-gradient {
    @apply bg-gradient-to-r from-[#a855f7] to-[#ec4899] bg-clip-text text-transparent;
  }

  .error-badge {
    @apply bg-[#FF6A3D] px-2 text-sm rounded rotate-12 absolute;
  }

  .msg-class {
    @apply bg-gray-200/60 text-slate-800/80 rounded px-2 py-1 text-white;
  }

  .error {
    @apply text-red-500;
  }
}

@layer components {
  .header-menu {
    @apply sticky top-0 flex flex-wrap items-center h-20 justify-between mx-3 mt-2 py-2 rounded-2xl lg:flex-nowrap px-5 backdrop-saturate-200 bg-slate-850/80 shadow-dark-blur z-110;
  }
}

.bg-custom {
  width: 100%;
  height: 100%;

  background: #0b122cfa;
  --gap: 5em;
  --line: 1px;
  --color: rgba(255, 255, 255, 0.2);

  background-image: linear-gradient(-90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)),
    linear-gradient(0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap));
  background-size: var(--gap) var(--gap);
}

@layer utilities {

  .custom-scrolbar::-webkit-scrollbar {
    width: 10px;
  }

  .custom-scrolbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrolbar::-webkit-scrollbar-thumb {
    background: #a7a6a6e0;
    border-radius: 10px;
  }

  .custom-scrolbar::-webkit-scrollbar-thumb:hover {
    background: #f8f8f8e5;
  }


  .no-custom-scrolbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .no-custom-scrolbar::-webkit-scrollbar {
    display: none;
  }
}