<main class="relative overflow-hidden">
  <div class="flex flex-wrap -mx-3">
    <div class="flex-none w-full max-w-full px-3">
      <div
        class="relative flex flex-col min-w-0 mb-6 p-2 break-words border-0 border-transparent border-solid bg-content bg-clip-border"
      >
        <div
          class="flex justify-between items-center p-3 mb-0 border-b-2 border-gray-600 rounded-t-2xl border-b-transparent"
        >
          <h6 class="text-white text-xl font-semibold">Users Table</h6>
          <div class="flex gap-5">
            <button
              type="button"
              class="bg-gradient-to-r from-pink-500/90 to-violet-500/90 text-white px-4 py-2 rounded-lg shadow-md hover:shadow-lg hover:text transition-all duration-300 ease-in-out transform hover:-translate-y-1"
              (click)="$event.stopPropagation(); toggleSidebar('add')"
              data-toggle-sidebar
            >
              <span class="flex items-center">
                <i class="material-icons mr-2">add</i>
                Add User
              </span>
            </button>

            <button
              class="w-10 h-10 flex items-center justify-center rounded-full text-gray-200 p-2 hover:bg-slate-300/10 transition group ml-auto"
              (click)="store.loadUsers(this.store.users())"
            >
              <span class="material-icons text-gray-50 group-hover:text"
                >refresh</span
              >
            </button>
          </div>
        </div>

        <div class="flex-auto px-0 pt-0 pb-2">
          <div class="p-0 overflow-x-auto">
            <div class="h-[65vh] overflow-auto custom-scrollbar">
              <table
                class="items-center w-full mb-0 align-top border-collapse border-white/40 text-slate-500"
              >
                <thead
                  class="sticky top-0 z-20 bg-slate-850/25 backdrop-blur-md border-b-2 border-gray-200"
                >
                  <tr>
                    <th class="p-2 text-left user-th">User</th>
                    <th class="p-2 text-left user-th">Full Name</th>
                    <th class="p-2 text-left user-th">Email</th>
                    <th class="p-2 text-left user-th">Role</th>
                    <th class="p-2 text-center user-th">Status</th>
                    <th class="p-2 text-center user-th">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  @for (user of store.users() | paginate: { itemsPerPage: 10,
                  currentPage: currentPage() }; track user.id) {
                  <tr *ngIf="store.selectLoading()">
                    <td colspan="6" class="text-center p-4">
                      <div class="flex items-center justify-center space-x-4">
                        <div
                          class="w-full h-6 bg-gray-300 rounded-md animate-pulse"
                        ></div>
                        <div
                          class="w-full h-6 bg-gray-300 rounded-md animate-pulse"
                        ></div>
                        <div
                          class="w-full h-6 bg-gray-300 rounded-md animate-pulse"
                        ></div>
                      </div>
                    </td>
                  </tr>

                  <tr *ngIf="!store.loading()">
                    <td
                      class="p-2 align-middle bg-transparent border-b border-white/40 whitespace-nowrap shadow-transparent"
                    >
                      <div class="flex px-2 py-1">
                        <img
                          [src]="
                            user.imageUrl
                              ? 'http://localhost:8080/api/images/upload/' +
                                user.imageUrl
                              : defaultImages
                          "
                          [alt]="user.firstName"
                          (error)="handleImageError($event)"
                          class="inline-flex items-center justify-center mr-4 text-sm text-white transition-all duration-200 ease-in-out h-9 w-9 rounded-xl"
                        />
                      </div>
                    </td>
                    <td
                      class="p-2 align-middle bg-transparent border-b border-white/40 whitespace-nowrap shadow-transparent"
                    >
                      <p
                        class="mb-0 text-xs leading-tight text-white opacity-80"
                      >
                        {{ user.name }} {{ user.firstName }}
                      </p>
                    </td>
                    <td
                      class="p-2 align-middle bg-transparent border-b border-white/40 whitespace-nowrap shadow-transparent"
                    >
                      <p
                        class="mb-0 text-xs leading-tight text-white opacity-80"
                      >
                        {{ user.mail }}
                      </p>
                    </td>
                    <td
                      class="p-2 align-middle bg-transparent border-b text text-lg border-white/40 whitespace-nowrap shadow-transparent"
                    >
                      <span
                        class="inline-block px-4 py-1.5 uppercase text-sm font-semibold rounded-full cursor-pointer transform transition-all duration-300 hover:scale-90"
                        [ngClass]="getRoleClasses(user.role)"
                      >
                        {{ user.role }}
                      </span>
                    </td>
                    <td
                      class="p-2 text-sm leading-normal text-center align-middle bg-transparent border-b border-white/40 whitespace-nowrap shadow-transparent"
                    >
                      <span
                        [ngClass]="store.userStatusClass()(user.online)"
                        class="px-2.5 text-xs rounded-1 py-1.4 inline-block whitespace-nowrap text-center align-baseline font-bold uppercase leading-none text-white"
                      >
                        {{ user.online ? "Online" : "Offline" }}
                      </span>
                    </td>
                    <td
                      class="p-2 align-middle bg-transparent border-b border-white/40 whitespace-nowrap shadow-transparent text-center"
                    >
                      <button
                        class="tooltip hover:text text-red-600 mr-2"
                        (click)="openPopup(user.id)"
                      >
                        <span class="material-icons">delete</span>
                      </button>
                      <button
                        class="tooltip hover:text text-blue-600 mr-2"
                        (click)="
                          $event.stopPropagation(); toggleSidebar('edit', user)
                        "
                      >
                        <span class="material-icons">edit</span>
                      </button>
                      <button
                        class="tooltip hover:text text-slate-600"
                        (click)="
                          $event.stopPropagation(); toggleSidebar('view', user)
                        "
                      >
                        <span class="material-icons">visibility</span>
                      </button>
                    </td>
                  </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div
          class="sticky left-0 bottom-0 border-t-2 rounded-3 border-gray-600 z-20 w-full flex justify-between items-center text-white bg-slate-850 py-2 px-4"
        >
          <p>
            Total users
            <span class="text text-lg font-bold">{{ store.totalUsers() }}</span>
          </p>
          <pagination-controls
            (pageChange)="setPage($event)"
            [currentPage]="currentPage()"
            class="text-white"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <app-side-bar-right #addUserSidebar>
    <div class="min-w-full">
      <app-add-user (userAdded)="onUserAdded()"></app-add-user>
    </div>
  </app-side-bar-right>

  <app-side-bar-right #editUserSidebar>
    <div class="min-w-full">
      <app-edit-user [user]="userToEdit()" (userEdited)="onUserEdited()">
      </app-edit-user>
    </div>
  </app-side-bar-right>

  <app-side-bar-right #viewUserSidebar>
    <div class="w-85">
      <app-view-user [user]="userToView()" (closeEvent)="onUserViewed()">
      </app-view-user>
    </div>
  </app-side-bar-right>
</main>

<app-popups
  *ngIf="showPopup()"
  (confirm)="confirmDelete()"
  (cancel)="closePopup()"
/>
