<main class="mt-0 transition-all duration-200 ease-in-out flex justify-center items-center min-h-screen">
    <section class="container">
        <div class="flex flex-wrap justify-center">
            <div class="w-full max-w-full px-3 py-3 mx-auto md:flex-0 shrink-0 md:w-7/12 lg:w-5/12 xl:w-4/12">
                <div
                    class="relative z-0 flex flex-col min-w-0 break-words bg-slate-850/80 border-0 animate-shadow-pulse rounded-2xl">
                    <!-- Bouton Retour (en haut à droite) -->
                    <button
                        class="absolute top-2 left-2 flex items-center justify-center rounded-full text-gray-200 p-2 hover:bg-slate-300/10 transition group"
                        (click)="navigateBack()">
                        <span class="material-icons text-gray-700 group-hover:text">arrow_back</span>
                    </button>

                    <div class="pt-6 mb-0 text-center bg-slate-850/80 font-bold text-lg border-b-0 rounded-t-2xl">
                        <h5 class="title">Login</h5>
                    </div>
                    <div class="flex-auto p-6">
                        <form role="form text-left">
                            <div class="flex gap-2 justify-center">
                                <!-- Inputs pour le pin -->
                                @for (pin of pinValues(); let i = $index; track $index) {
                                <input type="tel" class="w-10 h-10 input-theme rounder" maxlength="1" [value]="pin"
                                    (input)="updatePin(i, $event)" (keyup.backspace)="focusPrevious(i, $event.target)"
                                    (input)="focusNext(i, $event.target)" />
                                }

                                <button
                                    class="flex items-center absolute right-5 justify-center rounded-full text-gray-200 p-2 hover:bg-slate-300/10 transition group"
                                    (click)="reloadPin()">
                                    <span class="material-icons text-gray-50 group-hover:text">refresh</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>